# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environment
venv/
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs and model checkpoints
*.log
logs/
checkpoints/
*.h5
*.pt
*.pth
*.onnx

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# images (optional)
*.png
*.jpg